---
import Layout from '@layouts/Layout.astro'
import Background from '@components/Background.astro'
import QuizHeader from '@components/QuizHeader.astro'
import Option from '@components/Option.astro'
import type { StaticPaths, Quiz } from '@ts/types.ts'

export async function getStaticPaths(): Promise<StaticPaths[]> {
  const quizzes = await Astro.glob('@quizzes/*.json')

  return quizzes.map((quiz) => ({
    params: { quiz: quiz.url },
    props: { quiz: quiz.default },
  }))
}

const { quiz }: { quiz: Quiz } = Astro.props
const quizData64 = btoa(JSON.stringify(quiz))
---

<Layout title={quiz.quizTitle}>
  <Background />

  <main
    class="flex flex-col max-w-screen-md px-5 md:px-0 gap-10 mx-auto text-white pt-10"
  >
    <QuizHeader
      title={quiz.quizTitle}
      numQuestions={quiz.questions.length}
      image={quiz.quizImage}
    />

    <div hidden>
      <span data-quiz={quizData64}></span>
    </div>

    <p
      id="quiz-question"
      class="text-2xl text-pretty min-h-28 content-center text-center select-none"
    >
      {quiz.questions[3].question}
    </p>

    <ul
      id="quiz-options"
      class="flex flex-col gap-3 items-center text-center has-[.answerSuccess,.answerError]:pointer-events-none select-none"
    >
      {
        quiz.questions[0].options.map((op, i) => (
          <Option index={i} option={op} />
        ))
      }
    </ul>
  </main>
</Layout>

<script src="@scripts/quiz.js"></script>
