---
import Layout from '@layouts/Layout.astro'
import Background from '@components/Background.astro'
import Github from '@components/Github.astro'
import Header from '@components/Header.astro'
import QuizCard from '@components/Card.astro'
import Footer from '@components/Footer.astro'
import type { Quiz } from '@ts/types.ts'

const quizzes: Quiz[] = await Astro.glob('@quizzes/*.json')

const difficulty = {
  low: 'Fácil',
  medium: 'Medio',
  high: 'Difícil',
}
---

<Layout title="DevQuiz">
  <Background animation />

  <Github />
  <main class="flex flex-col gap-20 py-20 text-white px-10">
    <Header />

    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      {
        quizzes.map((quiz) => (
          <QuizCard
            id={quiz.id}
            title={quiz.quizTitle}
            image={quiz.quizImage}
            numQuestions={quiz.questions.length}
            difficulty={difficulty[quiz.difficulty]}
          />
        ))
      }
    </section>

    <Footer />
  </main>
</Layout>
