---
import Layout from '@layouts/Layout.astro'
import Background from '@components/Background.astro'
import LinkGithub from '@components/LinkGithub.astro'
import Header from '@components/Header.astro'
import QuizCard from '@components/QuizCard.astro'
import Footer from '@components/Footer.astro'
import type { Quiz } from '@ts/types.ts'

const quizzes: Quiz[] = await Astro.glob('@quizzes/*.json')
---

<Layout title="DevQuiz">
  <Background animation />
  <LinkGithub />
  <main class="flex flex-col max-w-screen-lg gap-20 px-10 py-20 mx-auto">
    <Header />
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
      {
        quizzes.map((quiz, i) => (
          <QuizCard
            url={quiz.url}
            title={quiz.quizTitle}
            image={quiz.quizImage}
            numQuestions={quiz.questions.length}
            color={quiz.color}
            index={i}
          />
        ))
      }
    </section>
    <Footer />
  </main>
</Layout>
